
*{
    margin: 0;
    padding: 0;
}
p{
    font-family: rig-sans;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #101213;
}
a{
    font-family: noka;
    font-weight: 500;
    text-decoration: none;
}
h1,h2,h3{
    font-family: noka;
    font-size: 28px;
    font-weight: 600;
    color: #101213;
}

.hero-bg{
    background-image: url(img/Siófok\,\ Léda\ utca\ \(2\).jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    background-position: center;
}

nav{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 24px 0;
}
.nav-container{
    width: 85%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-center{
    display: flex;
    column-gap: 40px;
}
.nav-container a{
    color: #c4c4c4;
}
.nav-center a:hover{
    border: solid 1px #c4c4c4;
    padding: 4px 12px;
    margin: -5px -13px;
}
.nav-container a:hover .nav-right{
    column-gap: 14px;
}
.nav-right a{
    border: solid 1px #8FC3CF;
    padding: 4px 12px;
    color: #8FC3CF;
    font-weight: 500;
    transition: 0.3s;
}
.nav-right a:hover{
    border: solid 1px #c4c4c4;
    background-color: #8FC3CF;
    color:#252a2c;
}
.hero{
    padding: 300px 0;
}

.hero-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.hero-container h1{
    font-size: 80px;
    color:#e7e7e7;
}
.hero-container p{
    color:#c4c4c4;
    width: 760px;
    margin: auto;
}
.hero-container a{
    font-family: rig-sans;
    font-weight: 600;
    background-color: #8FC3CF;
    color: #101213;
    padding: 16px 32px;
    transition: 0.2s;
}
.hero-container a:hover{
    background-color: transparent;
    border: solid 1px #8FC3CF;
    color: #8FC3CF;
}
.hero-button{
    margin-top: 40px;
}

.welcome{
    background-color: #263c44;
}
.welcome-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    max-width: 2000px;
    margin: auto;
}
.welcome-left{
    padding: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.welcome-left h1{
    font-size: 64px;
    color: #e7e7e7;
}
.welcome-left p{
    font-size: 21px;
    color: #c4c4c4;
    line-height: 32px;
}
.welcome-right img{
    width: 100%;
}

.service{
    background: #252a2c;
    padding: 120px 0;
}
.service-container{
    width: 85%;
    max-width: 1400px;
    margin: auto;
}
.service-container h1{
    font-size: 64px;
    color: #e7e7e7;
    padding-bottom: 30px;
}
.service-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 8px;
}
.service-card{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.service-image img{
    width: 100%;
}
.service-text{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 0 8px;
}
.service-text h2{
    color: #e7e7e7;
}
.service-text p{
    color: #c4c4c4;
    line-height: 28px;
}
.service-learn{
    margin-top: 16px;
}
.service-learn a{
    color: #8FC3CF;
    font-weight: 600;
    font-family: rig-sans;
}
.learn-hover{
    transition: 0.15s;
}
.service-learn a:hover .learn-hover{
    margin-left: 8px;
}

.gallery{
    background-color: #263c44;
    padding: 120px 0;
}
.gallery-container{
    width: 85%;
    max-width: 1400px;
    margin: auto;
}
.gallery-container h1{
    font-size: 64px;
    color: #e7e7e7;
    padding-bottom: 30px;
}
.gallery-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
}
.gallery-hover{
    overflow: hidden;
    position: relative;
}
.gallery-image{
    transition: 0.5s;
    height: 100%;
}
.gallery-hover img{
    width: 100%;
    height: 100%;
}
.gallery-hover:hover .gallery-image{
    transform: scale(1.1);
}
.gallery-text{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}
.gallery-border{
    border: solid 1px #c4c4c4;
    padding: 16px 16px;
}
.gallery-text h3{
    color: white;
}
.gallery-text p{
    color: white;
    width: 250px;
}
.gallery-hover:hover .gallery-text{
    opacity: 1;
}

footer{
    padding: 60px 0 120px 0;
    background-color: #111111;
}
.footer-container{
    width: 85%;
    max-width: 1400px;
    margin: auto;
}
.footer-grid{
    display: flex;
    justify-content: space-between;
}
.footer-card h3{
    color: white;
}
.footer-card p{
    color: white;
}