*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-family: rig-sans;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #101213;
}
a{
    font-family: noka;
    font-weight: 500;
    text-decoration: none;
}
h1,h2,h3{
    font-family: noka;
    font-size: 28px;
    font-weight: 600;
    color: #101213;
}
nav{
    background-color: #051427;
    padding: 12px 0;
}
.nav-container{
    width: 85%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left img{
    height: 70px;
}
.nav-center{
    display: flex;
    column-gap: 40px;
}

.nav-container a{
    color: #c4c4c4;
}
.nav-center a:hover{
    border: solid 1px #c4c4c4;
    padding: 4px 12px;
    margin: -5px -13px;
}
.nav-container a:hover .nav-right{
    column-gap: 14px;
}
.nav-right a{
    border: solid 1px #8FC3CF;
    padding: 4px 12px;
    color: #8FC3CF;
    font-weight: 500;
    transition: 0.3s;
}
.nav-right a:hover{
    border: solid 1px #c4c4c4;
    background-color: #8FC3CF;
    color:#252a2c;
}